* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
	background:#000;
}
.container{
	width:1200px;
	min-height:500px;
	/* background:#fff; */
	margin:70px auto 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.container .box{
	width:350px;
	height:350px;
	background:#ff0;
	position: relative;
	
}
.container .box .imgBox{
	width:350px;
	height:350px;
	position: relative;
	overflow: hidden;
}
.container .box .imgBox img{
	width:100%;
	height:100%;
	transition: .5s;
}
.container .box:hover .imgBox img{
	transform:scale(1.2);
}
.container .box .details{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.8);
	opacity:0;
	transform: scale(0);
	transition:.25s;
}
.container .box:hover .details{
	opacity: 1;
	transform: scale(1);
}
.container .box .details .content{
	color:#fff;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	margin:20px;
	text-align: center;
}
.container .box .details .content h2{
	font-size:20px;
	text-transform: uppercase;
	margin-bottom:15px;
}
.container .box .details .content p{
	font-size:13px;
	line-height: 18px;
}


